
body {
    font-family: Arial, sans-serif;
   
    background-color: #f7f7f7; 
    padding: 20px;
    margin: 0; 
}


article {
    max-width: 800px;
    margin: 0 auto; 
    
    background-color: #ffffff; 
    border-radius: 8px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 30px;
}


h1 {
    text-align: center;
    color: #a0522d; 
    border-bottom: 2px solid #a0522d; 
    padding-bottom: 10px;
}

h2 {
    
    background-color: #fffacd;
    color: #4b4b4b; 
    margin-top: 25px;
    padding: 10px 15px; 
    border-radius: 5px; 
    
    border-left: 5px solid #d2691e; 
}

h3 {
    color: #a0522d; 
    margin-top: 25px;
}

h3 {
    color: #a0522d;
    
    margin-top: 30px;
    
    margin-bottom: 5px; 
}


ul, ol {
    line-height: 1.8; 
    padding-left: 40px; 
    margin-bottom: 25px; 
}


p {
    
    color: #333333; 
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: #d2691e;
    text-decoration: none; 
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s;
}

a:hover {
    
    color: #ff8c00; 
}


ul, ol {
    line-height: 1.6;
    padding-left: 30px;
    color: #333333; 
}


.link-topo {
    
    background-color: #d2691e; 
    
    color: white; 
    
    padding: 8px 15px; 
    
    border-radius: 5px; 
    
    text-decoration: none; 
    
    font-weight: bold;
    
    display: inline-block;
}

.link-topo:hover {
    background-color: #a0522d; 
    color: #fff;
}